@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

body {
  background-color: #F1C40F ;
  
}

#titulo h2 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 300%;
	color: #F4F6F6  ;
	text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
}